.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin: 0vh 20vh;
}

.testimonial-card {
  height: 370px;
  width: 320px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;

  padding: 15px;
  margin: 10px;
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  font-family: var(--poppins);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.rating {
  color: #ffcc00;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 0.90rem;
  text-align: center;
}


@media only screen and (min-width:1024px) and (max-width:1440px) {
  .testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: 0vh 45vh;
  }


  .testimonial-card {
    height: 310px;
    width: 320px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;

    padding: 15px;
    margin: 10px;
    text-align: center;
  }


  .name {
    font-family: var(--poppins);
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .rating {
    color: #ffcc00;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .content {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 0.80rem;
    text-align: center;
  }

  .container__resenas {
    background-color: rgb(238, 237, 237);
    height: 100vh;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {

  .testimonial-container {
    display: grid;
    grid-template-columns: 1fr;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: 0vh 35vh;
  }


  .testimonial-card {
    height: 250px;
    width: 320px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;

    padding: 15px;
    margin: 10px;
    text-align: center;

  }


  .name {
    font-family: var(--poppins);
    font-size: .9rem;
    margin-bottom: 5px;
  }

  .rating {
    color: #ffcc00;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .content {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 0.70rem;
    text-align: center;
  }

  .container__resenas {
    background-color: rgb(238, 237, 237);
    height: 160vh;
  }

  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 6px;
  }

}


@media only screen and (min-width:425px) and (max-width:767px){
  .testimonial-container {
    display: grid;
    grid-template-columns: 1fr;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: 0vh 25vh;
  }


  .testimonial-card {
    height: 290px;
    width: 220px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;

    padding: 15px;
    margin: 10px;
    text-align: center;

  }


  .name {
    font-family: var(--poppins);
    font-size: .8rem;
    margin-bottom: 5px;
  }

  .rating {
    color: #ffcc00;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .content {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 0.66rem;
    text-align: center;
  }

  .container__resenas {
    background-color: rgb(238, 237, 237);
    height: 180vh;
  }

  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 6px;
  }
}



@media only screen and (min-width:320px) and (max-width:424px){
  .testimonial-container {
    display: grid;
    grid-template-columns: 1fr;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: 0vh 15vh;
  }


  .testimonial-card {
    height: 290px;
    width: 210px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;

    padding: 15px;
    margin: 10px;
    text-align: center;

  }

  .name {
    font-family: var(--poppins);
    font-size: .8rem;
    margin-bottom: 5px;
  }

  .rating {
    color: #ffcc00;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .content {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 0.66rem;
    text-align: center;
  }

  .container__resenas {
    background-color: rgb(238, 237, 237);
    height: 180vh;
  }

  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 6px;
  }
}